.homepage
  display: block

// fullpage instance
.section
  &__bg
    position: absolute 0
    z-index: 1
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__content
    position: absolute 0
    z-index: 2
    display: flex
    flex-direction: column

// move to general elements
.y-center-flex
  flex: 1 1 auto
  display: flex
  flex-direction: column
  justify-content: center