
// HOMEPAGE
.homepage
  .fullpage(js-fullpage)
    // fp section
    .section
      .section__bg
        img(src='img/fpScreenBg_1.png' srcset='img/fpScreenBg_1@2x.png 2x')
      .section__content
        .container.y-center-flex
          h1 We khow all about digital future
          .section__scroll
            span
            | scroll to discover
    // fp section
    .section
      .section__bg
        img(src='img/fpScreenBg_2.png' srcset='img/fpScreenBg_2@2x.png 2x')
      .section__content
        .container.y-center-flex
          h1 section 2
          .section__scroll
            span
            | scroll to discover or press 
            a(href="#")  skip
    // fp section
    .section
      .section__bg
        img(src='img/fpScreenBg_3.png' srcset='img/fpScreenBg_3@2x.png 2x')
      .section__content
        .container.y-center-flex
          h1 section 3