/* HEADER
.header
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 9
  background: transparent
  will-change: transform
  backface-visibility: hidden
  transform-style: preserve-3d
  &__wrapper
    display: flex
    align-items: center
    padding-top: 30px

  &__logo
    flex: 0 0 auto
    font-size: 57px
    color: $colorRed
    padding-right: 30px

  &__hamburger
    padding-left: 20px
    margin-left: auto


+r($lg)
  .header

+r($md)
  .header
    &__hamburger
      margin-left: auto
      display: block

+r($sm)
  .header
    &__logo
      font-size: 30px
