// FOOTER :: START
footer.footer
  //- .section__footer
  //-   .container
  //-     .section__footer-left
  //-       p 2019 QWERTY CO LLC
  //-     .section__footer-right
  //-       .mobile-navi__socials
  //-         a.mobile-navi__icon.mobile-navi__icon--dribble(href="#")
  //-           +svgMono('dribble')
  //-         a.mobile-navi__icon.mobile-navi__icon--behance(href="#")
  //-           +svgColor('behance-new')
  //-         a.mobile-navi__icon.mobile-navi__icon--instagram(href="#")
  //-           +svgMono('instagram')
  //-         a.mobile-navi__icon.mobile-navi__icon--facebook(href="#")
  //-           +svgColor('facebook-new')
      
      
// FOOTER :: END
