*
  box-sizing: border-box
  outline: none

a
  color: inherit
  text-decoration: none
  &:hover, &:focus
    text-decoration: none

ul
  list-style: none
  li
    display: inline-block

body, html
  background: #131419
  color: white
  font-family: $baseFont
  // font-family: "Helvetica", -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Ubuntu', 'Cantarell', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
  font-size: 16px
  min-width: 320px
  max-width: 100%
  margin: 0
  overflow-x: hidden
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

::selection
  color: white
  background: $colorPrimary

.body-lock
  height: 100%
  overflow: hidden
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%

.page
  display: flex
  flex-direction: column
  min-height: 100vh
  &__content
    // used for sticky footer (flexbox way)
    flex: 1 0 auto
    display: flex
    flex-direction: column

.container
  max-width: calc(1170px + 40px + 40px)
  width: 100%
  margin-left: auto
  margin-right: auto
  padding-left: 40px
  padding-right: 40px

h1
  font-size: 66px
  text-transform: uppercase
  color: #fff
  font-family: $tekoFont
  font-weight: 700
  margin: 0
  line-height: 1.2

h2
  font-family: $tekoFont
  font-size: 20px
  text-transform: uppercase
  color: $colorPrimary
  text-align: center
  margin-bottom: 80px
  letter-spacing: 2px
  &.white
    color: #fff


.btn
  border: none
  font-size: 14px
  letter-spacing: 1px
  font-family: $robotoFont
  color: #fff
  text-transform: uppercase
  line-height: normal
  max-width: 125px
  width: 100%
  padding: 8px 10px
  background: $colorOrange
  font-weight: 700
  cursor: pointer
  margin-top: 50px
  &:hover
    background: $colorOrangeHover


+r($md)
  h1
    font-size: 35px
    max-width: 300px

  h2
    font-size: 18px
    margin-bottom: 40px

+r($sm)
  .container
    padding-left: 20px
    padding-right: 20px

// move to general elements
.y-center-flex
  flex: 1 1 auto
  display: flex
  flex-direction: column
  justify-content: center
  // padding-bottom: 45px

// REMOVE FOR PRODUCTION !
.dev-bp-debug
  background: black
  position: fixed
  top: 0
  right: 0
  z-index: 9999
  color: white
  padding: 5px
  font-size: 12px
  border-bottom-left-radius: 5px
