.ico-color-analis {
  width: 1.34em;
  height: 1em;
}
.ico-color-branding {
  width: 1.11em;
  height: 1em;
}
.ico-color-example {
  width: 1em;
  height: 1em;
}
.ico-color-facebook {
  width: 0.5em;
  height: 1em;
}
.ico-color-play {
  width: 1em;
  height: 1em;
}
