.ico-color-analis {
  width: 1.34em;
  height: 1em;
}
.ico-color-behance-new {
  width: 1.58em;
  height: 1em;
}
.ico-color-branding {
  width: 1.11em;
  height: 1em;
}
.ico-color-example {
  width: 1em;
  height: 1em;
}
.ico-color-facebook-new {
  width: 1em;
  height: 1em;
}
.ico-color-facebook {
  width: 0.5em;
  height: 1em;
}
.ico-color-homepage {
  width: 3.76em;
  height: 1em;
}
.ico-color-logo-circle {
  width: 1em;
  height: 1em;
}
.ico-color-play {
  width: 1em;
  height: 1em;
}
.ico-color-share {
  width: 0.94em;
  height: 1em;
}
.ico-color-thrillstore {
  width: 10.4em;
  height: 1em;
}
.ico-color-time {
  width: 1em;
  height: 1em;
}
