.ico-mono-behance {
  width: 1.61em;
  height: 1em;
  fill: initial;
}
.ico-mono-dribble {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-facebook {
  width: 0.5em;
  height: 1em;
  fill: initial;
}
.ico-mono-instagram {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-logo {
  width: 0.7em;
  height: 1em;
  fill: #EA4D27;
}
