.ico-mono-analis {
  width: 1.34em;
  height: 1em;
  fill: initial;
}
.ico-mono-behance-new {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-behance {
  width: 1.61em;
  height: 1em;
  fill: initial;
}
.ico-mono-design {
  width: 1.19em;
  height: 1em;
  fill: #EA4D27;
}
.ico-mono-development {
  width: 1.5em;
  height: 1em;
  fill: #EA4D27;
}
.ico-mono-dribble {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-facebook2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-instagram {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-link {
  width: 1em;
  height: 1em;
  fill: #D6C3C7;
}
.ico-mono-logo {
  width: 0.7em;
  height: 1em;
  fill: #EA4D27;
}
.ico-mono-phone {
  width: 1em;
  height: 1em;
  fill: #D7D7D7;
}
.ico-mono-twitter {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.ico-mono-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
